/* GENERAL */

:root {
  --col-white: #fdfdfe;
  --col-rose: #fe99d9;
  --col-black: #101007;
  --col-orange: #ff6502;
  --col-green: #1f9540;
  --gap: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.45;
  letter-spacing: 0.2px;
  font-style: normal;
  transition: 0.66s;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  letter-spacing: -.05rem;
  font-style: normal;
}

h1 {
  font-size: min(20vw, 6.5rem);
  font-weight: 700;
}

.shaped_l {
  padding: 3rem max(calc((100vw - 1000px) / 2), 1rem);
}

.shaped_m {
  padding: 3rem max(calc((100vw - 750px) / 2), 1rem);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap);
}

.grid_item {
  margin: 1rem;
  border: 1px solid var(--col-black);
}

/* HERO */
.hero_image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)),url('assets/pexels-zyuliansyah-2086669.jpg');
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  
}

.hero_text {
  text-align: center;
  color: var(--col-white);
}

.hero_text>* {
  margin-bottom: 3rem;
}

/* MUSICS */
.musics {
  min-height: 100vh;
  background-color: var(--col-rose);
}

.grid_item__image {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  aspect-ratio: 1/1;
}